<div class="section-colored text-center">
  <h1>Listing posts</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="posts" id="all_posts">
    <% @posts.each do |post| %>
      <%= render "post", post: post %>
    <% end %>
  </tbody>
</table>

<br />

<div class="section-colored text-center">
  <% if policy(Post).create? %>
    <%= link_to 'New Post', new_post_path, id: "new_post_link", remote: true %> <br><br>
  <% end %>

  <% if current_user %>
    Logged in as <%= current_user.email %> <br>
    <%= link_to "Sign Out", signout_path %>
  <% end %>
</div>

