    <!-- Blog -->
    <div id="blog" class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Share my journey through technology</h2>
<!-- TODO: re-add this line when I'm ready to launch the GeekyMamaMare blog -->
<!--             <h2>Share my journeys through technology</h2> -->
            <hr>
            <br>

            <a target="_blank" href="http://techblog.susanprestage.com">
              <img class="img-portfolio img-responsive" src="https://s3-us-west-2.amazonaws.com/sprestageportfolio/RubyOnRails.png" width="150" height="225">
              <p class="lead">My technical blog</p>
            </a>
            <hr>
            <br>
            <br>

<!-- TODO: re-add this line when I'm ready to launch the GeekyMamaMare blog -->
<!--             <a target="_blank" href="http://www.GeekyMamaMare.com">
              <img class="img-portfolio img-responsive" src="https://s3-us-west-2.amazonaws.com/sprestageportfolio/SusanProfilePhoto.jpg" width="150" height="225">
              <br>
              <p class="lead">The story of my journey back to passion in technology</p>
            </a>
 -->
          </div>
        </div>
      </div>
    </div>
    <!-- /Blog -->

