    <!-- Blog -->
    <div id="blog" class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Share my journey through technology</h2>
            <br>
            <a target="_blank" href="#blog"><img class="img-portfolio img-responsive" src="https://s3-us-west-2.amazonaws.com/sprestageportfolio/SusanProfilePhoto.jpg" width="150" height="225"></a>
            <br>
            <a href="http://sprestage-technical-blog.herokuapp.com">
              <p class="lead">My technical blog</p>
            </a>
<!-- TODO: re-add this line when I'm ready to launch the GeekyMamaMare blog -->
<!--             <a href="http://GeekyMamaMare.com">
              <p class="lead">Blog of my journey to re-find my passion for technology</p>
            </a>
 -->          </div>
        </div>
      </div>
    </div>
    <!-- /Blog -->

