    <!-- Blog -->
    <div id="blog" class="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Geeky Mama Mare shares her journey through technology.</h2>
            <a target="_blank" href="#blog"><img class="img-portfolio img-responsive" src="https://s3-us-west-2.amazonaws.com/sprestageportfolio/SusanProfilePhoto.jpg" width="150" height="225"></a>
            <p class="lead">Put the description of my blogs mission here with a link to the blog page.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Blog -->

