    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>Please review my resume for additional details</h3>
            <a href="resume" class="btn btn-lg btn-primary">Resume</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->

