    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><a href="http://github.com/sprestage"><i class="icon-github icon-2x"></i></a></li>
              <li><a href="http://linkedin.com/in/susanprestage"><i class="icon-linkedin icon-2x"></i></a></li>
              <li><a href="http://twitter.com/SusanPrestage"><i class="icon-twitter icon-2x"></i></a></li>
            </ul>
            <hr>
            <p>Copyright &copy; Susan Prestage 2014</p>
            <br>
            <p>
            <style>
              ccattribution {font-size:10px;}
            </style>
            <ccattribution>
              Attributes for background image of Seattle used above:
              <br>
              By
              <a href="http://www.jeffery-hayes.com/web/-Needle.html" >
                Jeffery Hayes
              </a>
              [
              <a href="http://creativecommons.org/licenses/by-sa/3.0">
                CC-BY-SA-3.0
              </a>
              ],
              <a href="http://commons.wikimedia.org/wiki/File%3ASeattle_Center_as_night_falls.jpg">
                via Wikimedia Commons
              </a>
            </ccattribution>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
