  <div class="section-colored text-center">

      <div class="container">
        <div class="row">
          <div class"col-lg-12">
            <div id="user_header">
              <div class="nav">
              <br><br>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, id: "flash_#{name}" %>
              <% end %>

<!--               <% if current_user %>
                Logged in as <%= current_user.email %>
                <%= link_to "Sign Out", signout_path %>
              <% end %>
 -->            </div>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row  -->
      </div><!-- /.container -->
</div>
