    <!-- Intro -->
    <div id="intro" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Geeky Mama Mare shares her journey through technology.</h2>
            <p class="lead">Put the description of my blogs mission here with a link to the blog page.<a target="_blank" href="#blog"><img class="img-portfolio img-responsive" src="img/SusanProfilePhoto.jpg"></a>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
