    <!-- Speaking -->
    <div id="speaking" class="speaking">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Public Speaking</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="text-left">
            <div class="col-md-12">
              <p>Public speaking has long been a challenge for me.  My experiences in 2013 have convinced me of the importance of putting effort into this skill.  You will find here my ideas for talks, starting with short lightning talks which I plan to slowly grow into longer talks.</p>
              <p>You will find links to my Haiku Decks, hosted and created using the wonderful tools provided by the good folks at <a href="http://www.haikudeck.com">Haiku Deck</a>, particular thanks to Catherine Carr, for her intro talk on this product at the <a href="http://www.codechix.org/seattle">CodeChix</a> meetup in December of 2013.  I have everything positive to say about Haiku Deck and how easy they make putting together slides with awesome pictures for presentations.</p>
              <hr>
              <br>
            </div> <!-- /col -->
          </div> <!-- /text -->
        </div> <!-- /row -->
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="speaking-item">
              <h4>Lightning Talk Ideas/Haiku Deck Links</h4>
              <hr>
              <a href = "http://www.haikudeck.com/imposter-syndrome-uncategorized-presentation-D2hQv0odIG">Impostor Syndrome</a>
            </div> <!-- /item -->
          </div> <!-- /col -->
        </div> <!-- /row -->
        <hr>

        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h4>Code Fellows Bootcamp Tech Talks</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <style>
            tiny {font-size:10px;}
          </style>

          <div class="col-md-3 col-md-offset-1 text-center">
            <div class="speaking-item">
              <a href="https://www.youtube.com/watch?v=my6uB5SITWE">
                <h5>Intro to Cron</h5>
              </a>
              <tiny>(13+ minute talk)</tiny>
            </div> <!-- /item -->
          </div> <!-- /col -->
          <div class="col-md-4 text-center">
            <div class="speaking-item">
              <a href="https://www.youtube.com/watch?v=vutPSPlJ66o">
                <h5>Personal Introduction<br>&<br>TDD Tech Talk</h5>
              </a>
              <tiny>(1 minute)</tiny>
            </div> <!-- /item -->
          </div> <!-- /col -->
          <div class="col-md-2 text-center">
            <div class="speaking-item">
              <a href="https://www.youtube.com/watch?v=kDztIpuJc_A">
                <h5>Intro to VI</h5>
              </a>
              <tiny>(6+ minute talk)</tiny>
            </div> <!-- /item -->
          </div> <!-- /col -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </div> <!-- /speaking -->
    <!-- /Speaking -->
