    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-primary btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand" style="color:#666666">Susan Prestage</li>
        <li><a href="#top">Home</a></li>
        <li><a href="#blog">Blogs</a></li>
        <li><a href="#services">Skills</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="resume">Resume</a></li>
        <li><a href="/static/construction">Under Construction</a></li>
      <% if !current_user %>
        <li><a href="/users/sign_in">Log In</a></li>
      <% end %>
      <% if current_user %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
      </ul>
    </div>
    <!-- /Side Menu -->

