    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-primary btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand">Susan Prestage</li>
        <li><a href="#top">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#services">Skills</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#"><a href="/static/construction">Under Construction</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->

