    <!-- Volunteer -->
    <div id="volunteer" class="volunteer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Volunteering</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-md-offset-1 text-center">
            <div class="volunteer-item">
              <a href="http://railsbridge.org/about">
                <h4>RailsBridge TA</h4>
              </a>
              <p>RailsBridge works to make tech more diverse and welcoming by teaching programming, connecting human beings, and listening to people's needs. RailsBridge organizes and teaches free weekend workshops on Rails, Ruby, and HTML & CSS in cities all over the world, targeted at groups of people that are underrepresented in tech.
              </p>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1 text-center">
            <div class="volunteer-item">
              <a href="http://adadevelopersacademy.org/about">
                <h4>Ada Developers Academy TA</h4>
              </a>
              <p>Ada Developers Academy is a tuition-free programming school for women that teaches full-stack web development. Students learn Ruby, Rails, HTML/CSS, and JavaScript. Additionally, students learn how to work on agile development teams, use pair programming, scrum, and test-driven development in the classroom over 6 months.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Volunteer -->

