    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>Welcome aboard!</h1>
        <h1>Susan Prestage</h1>
        <h3>Ruby on Rails Developer and Designer</h3>
        <h3><em>I</em> work with passion, <em>You</em> benefit </h3>
        <a href="#intro" class="btn btn-default btn-lg">Find Out More</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
