    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <br><br><br><br>
        <h1>Susan Prestage</h1>
        <h3>Ruby on Rails Developer and Designer</h3>
        <br><br><br>
        <h3>Technology and continual learning are my passions.</h3>
        <h3>Are <em><strong>you</strong></em> ready to benefit?</h3>
        <br><br><br>
        <a href="#skills" class="btn btn-default btn-lg">Skills</a>
        <a href="#portfolio" class="btn btn-default btn-lg">Projects</a>
        <a href="resume" class="btn btn-default btn-lg">Resume</a>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
